.balance {
  background-color: var(--Soft-red);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  border-radius: 0.55rem;
  margin-bottom: 1rem;
  @media (min-width: 1000px) {
    border-radius: 0.85rem;
    padding: 1.5rem 1.75rem;
  }

  &__header {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.35rem;
  }

  &__amount {
    font-weight: 700;
    font-size: 1.45rem;
    @media (min-width: 1000px) {
      font-size: 1.65rem;
    }
  }
  &__logo {
    max-width: 20%;
  }
}
